@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* background: linear-gradient(-45deg, #ac32e4, #7918f2, #4801ff); */
    background: #333;
    color: #f0f0f0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 20px 0;
}

h2 {
    font-size: 45px;
}

.main-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    color: #fff;
    background-color: rebeccapurple;
}

.main-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav ul {
    display: flex;
    align-items: center;
}
.main-nav li {
    margin: 5px 15px;
    font-size: 17px;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #ccc;
}

.logo {
    width: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.showcase {
    height: 600px;
    font-family: "Alata", sans-serif;
    position: relative;
    background: url("/assets/images/showcase-bg.png") no-repeat center center;
    z-index: 2;
}
.showcase .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    z-index: 2;
}
.showcase h2 {
    font-size: 30px;
    color: rgb(156, 78, 233);
    margin-bottom: 22px;
    font-family: Alata, sans-serif;
    font-size: 20px;
}
.showcase h1 {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 1.7;
    font-weight: 400;
}
.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 2, 39, 0.9);
    z-index: -2;
}

/* Projects */

.projects {
    display: grid;
    /* padding: 1rem; */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}
.projects img {
    width: 100%;
    height: 100%;
}
.projects h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.projects .day {
    background-color: rebeccapurple;
    border-bottom-left-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.projects > div {
    position: relative;
    cursor: pointer;
    height: 100%;
}
.projects div:hover .content {
    opacity: 0.98;
}
.projects .content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9901ff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease-in;
}
.projects .content p {
    margin: 15px 5px;
}

/* About Section  */

.about-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
}
.about-a .repo {
    color: #fff;
    border: 1px solid #ccc;
    height: 100px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}
.about-a .repo i {
    margin-right: 20px;
}

.about-a .repo:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Footer  */

footer {
    background: rgba(38, 13, 61, 0.9);
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1rem;
    text-align: center;
}

footer a:hover{
    color: gray;
}

/* Media Queries  */

@media (max-width: 700px) {
    .showcase h1 {
        font-size: 20px;
    }

    .logo {
        width: 50px;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .projects {
        grid-template-columns: 1fr;
    }

    .about-a {
        grid-template-columns: 1fr;
    }
    .about-a .repo {
        height: 100px;
    }
}
